<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			Aggiungi prodotto
		</title>
	</head>	

	<body>
		<form action = "/aggiungiProdotto" method = "POST">
			<input type = "text" id = "nome" name = "nome" placeholder="nome"> <br>
			<input type = "text" id = "descrizione" name = "descrizione" placeholder="descrizione"> <br>
			<input type = "text" id = "prezzo" name = "prezzo" placeholder="prezzo"> <br>
			<input type = "text" id = "quantita" name = "quantita" placeholder="quantita"> <br>
			<input type = "submit" value = "invia">
		</form>
	</body>
	
