<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>
			Registrazione
		</title>
	</head>	

	<body>
		<form action = "/registrazione" method = "POST">
			<input type = "text" id = "username" name = "username" placeholder="username"> <br>
			<input type = "password" id = "password" name = "password" placeholder="password"> <br>
			<input type = "email" id = "email" name = "email" placeholder="email"> <br>
			<input type = "text" id = "nome" name = "nome" placeholder="nome"> <br>
			<input type = "text" id = "cognome" name = "cognome" placeholder="cognome"> <br>
			<input type = "date" id = "dataNascita" name = "dataNascita"> <br>
			<input type = "text" id = "citta" name = "citta" placeholder="citta"> <br>
			<input type = "text" id = "via" name = "via" placeholder="via"> <br>
			<input type = "text" id = "numeroCivico" name = "numeroCivico" placeholder="numeroCivico"> <br>
			<input type = "text" id = "CAP" name = "CAP" placeholder="CAP"> <br>
			<input type = "text" id = "provincia" name = "provincia" placeholder="provincia"> <br>
			<input type = "text" id = "numeroTelefono" name = "numeroTelefono" placeholder="numeroTelefono"> <br>
			<input type = "text" id = "cartaCredito" name = "cartaCredito" placeholder="cartaCredito"> <br>
			<input type = "submit" value = "invia">
		</form>
	</body>
	
</html>