<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>
			Prodotti
		</title>
	</head>
	
	<body>
		<table style="width:80%" border="1" >
    <thead>
  <tr>
    <th>codice</th>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Prezzo</th>
    <th>Quantita</th>
    <th>Aggiungi</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="prodotto:${prodotti}">
        <td th:text="${prodotto.codice}"></td>
        <td th:text="${prodotto.nome}"></td>
        <td th:text="${prodotto.descrizione}"></td>
        <td th:text="${prodotto.prezzo}"></td>
        <td th:text="${prodotto.quantita}"></td>
        <td> <a th:href="@{/rimuoviProdotto/{codice}(codice=${prodotto.codice})}"> Rimuovi dal negozio </a></td>
  </tr>
  </tbody>
</table>

	<a href = "/gestore"> Ritorna alle operazioni </a> 
		
	</body>
	
</html>